[hidden] {
  display: none;
}
#written > div {
	margin-top: 2px;
}

img {
    display: inline;
    position: relative;
    margin-left: 2px;
    width: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul.tab-group li {float: left;}

#written>div[id] div {
    display:inline;
}

input.awesomplete {
    /*padding: 2px;*/
    border: none;
    outline:none;
}

.awesomplete input:hover {
    border: none;
}
	 .awesomplete ul {

    position: absolute;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    list-style: none;
    padding: 5px;
    margin: .2em 0 0;
    background: floralwhite;
    border: 1px solid rgba(0, 0, 1, .3);
    box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
    text-shadow: none;
    
	}
	li:hover {
		background: blue;
		color: white;
	}

	
  
  
 
